# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем служебные папки с зависимостями
node_modules/

# Игнорируем файл с ID вашего проекта (ЭТО ВАЖНО!)
.clasp.json

# Игнорируем файл с вашими учётными данными Google
.clasprc.json

# Игнорируем файлы VS Code
.vscode/
*.code-workspace